# =========================
# Python / Django
# =========================
__pycache__/
*.py[cod]
*.sqlite3
*.log

# =========================
# Virtual environment
# =========================
venv/
.env

# =========================
# Django specific
# =========================
staticfiles/
media/

# =========================
# OS junk
# =========================
.DS_Store
Thumbs.db

# =========================
# Editor junk
# =========================
.vscode/
.idea/
